body{
    font-family: 'Poppins', sans-serif;
    margin :0;
}
/*First Section*/

.first-section{
    display: flex;
    margin: 0;
    
}
.first-left-width{
    width: 20%;
    margin: 20px;
    padding-left: 25px;
    font-size: 25px;
    font-weight: bold;
}
.first-left-width h3:hover{
    background-color: black;
    border :2px solid black;
    border-radius: 10px;
    transition: .5s;
    color:orangered;
    padding: 5px;

}
.first-right-width{
    width: 80%;
}
.first-right-width ul li{
    margin: 40px;
    padding-left: 30px;
    font-size: 25px;
    display: inline-flex;
    font-weight: bold;
    border :2px solid black;
    border-radius: 10px;
    color: orangered; 
    padding: 5px; 
}
.first-right-width ul li:hover{
    background-color: black;
    transition: .5s;
}
/*First Section*/

/*Second Section*/

.second-section{
    display: flex;
    margin: 0;
    margin-top: 100px;
}
.second-left-width{
    width: 50%;
    margin: 30px;
    padding: 30px;

}
.second-left-width h1{
    font-weight: bold;
    font-size: 67px;
}
.span{
    color :orangered;
}
.second-left-width p{
    font-size: 25px;
    color: gray;
    font-weight: bold;
    margin-bottom: 70px;
}

.link-button{
    background-image:linear-gradient(tomato,salmon) ;
    text-decoration: none;
    font-weight: bold;
    color:white;
    font-size: 25px;
    border-radius: 30px;
    margin: 15px;
    padding: 15px;
    box-shadow: 5px 5px 5px 2px gray;  
}
.second-right-width{
    width: 50%;
    margin: 20px;
    padding: 20px;
}
/*Second Section*/

/*Third Section*/

.third-section{
    display: flex;
    margin: 0;
    background-image: url(images/shapes/third-section-bg.jpg);
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}
.third-left-width{
    width: 50%;
}
.third-left-width img{
    width: 40%;
    margin: 100px;
    padding: 100px;

    
}
.third-right-width{
    width: 50%;
    margin: 100px;
    padding: 100px;
    
}
.third-right-width h3{
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
    padding: 30px;
}
.third-right-width p{
    font-size: 25px;
    color: gray;
    font-weight: bold;
    margin-bottom: 70px;
    padding-left: 50px;
}
/*Third Section*/

/*Fourth Section*/
 .fourth-section {
     display: flex;
     margin: 0;
 }
 .fourth-width h3{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 30px;
    padding: 30px;
    margin-top: 100px;
 }
 .fourth-width p{
    font-size: 20px;
    color: gray;
    font-weight: bold;
    margin: 60px;
    padding: 60px;
 }
 /*Fourth Section*/

 /*Fifth Section*/
  
 .fifth-section{
     display: flex;
     margin: 0;
      
     
 }
 .fifth-left-width{
     width: 28%;
     margin:2%;
     padding: 2%;
     border-radius: 50px;
     box-shadow: 10px 10px 20px 20px gray;  
 }
 .fifth-left-width img{
    border:30px;
    border-radius: 10px;
 }

 
 .fifth-middle-width{
     width:28%;
     margin:2%;
     padding: 2%;
     border-radius: 50px;
     box-shadow: 10px 10px 20px 20px gray;  

 }
 .fifth-right-width{
     width: 28%;
     margin:2%;
     padding: 2%;
     border-radius: 50px;
     box-shadow: 10px 10px 20px 20px gray;  
 }
 .card-img img{
     width: 100%;
     border-radius:5%;
 }
 
 

 .recipies-title{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    padding: 10px;
 }
 .recipes-about {
    
    color: gray;
    font-weight: bold;    
 }  

 
 /*Fifth Section*/
 
 /*sixth section*/

 .sixth-section{
    display: flex;
    margin: 0;
    margin-top: 100px;
 }
 .sixth-section h3{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 30px;
    padding: 30px;
    margin-top: 40px;   
 }
 .sixth-left-width{
     width: 20%;
     margin:2%;
     padding: 2%;
     box-shadow: 10px 10px 20px 20px gray; 
     background-color: black;
    border :2px solid black;
    border-radius: 10px;
    transition: .5s;
    color:orangered;
    padding: 5px;
 }
 .sixth-middle-width{
    width: 20%;
    margin:2%;
    padding: 2%;
    box-shadow: 10px 10px 20px 20px gray; 
    background-color: black;
    border :2px solid black;
    border-radius: 10px;
    transition: .5s;
    color:orangered;
    padding: 5px;
}
.sixth-middleover-width{
    width: 20%;
    margin:2%;
    padding: 2%;
    box-shadow: 10px 10px 20px 20px gray; 
    background-color: black;
    border :2px solid black;
    border-radius: 10px;
    transition: .5s;
    color:orangered;
    padding: 5px;
}
.sixth-right-width {
    width: 20%;
    margin:2%;
    padding: 2%;
    box-shadow: 10px 10px 20px 20px gray; 
    background-color: black;
    border :2px solid black;
    border-radius: 10px;
    transition: .5s;
    color:orangered;
    padding: 5px;
}
.sixth-heading-size{
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

.padding-size{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.list{
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    
}
.list li{
    margin:10px;
    padding: 10px;
}
/*sixth section*/

/*footer*/
footer{
    margin: 0;
    margin-top: 100px;
    background-color: black;
}
footer h4{
    color:gray;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
.food{
    color: orange;
}
footer p{
    color:gray;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;   
}
/*footer*/
